---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "fonts",
    "vars",
    "smorgasbord",
    "mixins",
    "reset",
    "ivankon",
    "container",
    "header",
    "footer",
    "side_nav",
    "resume",
    "post_list",
    "project_list",
    "main",
    "img",
    "syntax_highlighting"
;
