<header class="header">

  {% if page.header_image and page.background_pos and page.header_class %}
    {% if page.header_class contains "header__image--with-text" %}
      <div class="header__image {{ page.header_class }}" style="background-color: {{ page.header_bgcolor }}; background-image: url({{ page.header_image }}); background-position: {{ page.background_pos }};"><span class="header__image-text-overlay">{{ page.header_text }}</span></div>
    {% else %}
      <div class="header__image {{ page.header_class }}" style="background-color: {{ page.header_bgcolor }}; background-image: url({{ page.header_image }}); background-position: {{ page.background_pos }};">{{ site.title }}</div>
    {% endif %}
  {% elsif page.header_image and page.background_pos %}
    <div class="header__image" style="background-color: {{ page.header_bgcolor }}; background-image: url({{ page.header_image }}); background-position: {{ page.background_pos }};">{{ site.title }}</div>
  {% elsif page.header_image and page.header_class %}
    {% if page.header_class contains "header__image--with-text" %}
      <div class="header__image {{ page.header_class }}" style="background-color: {{ page.header_bgcolor }}; background-image: url({{ page.header_image }});"><span class="header__image-text-overlay">{{ page.header_text }}</span></div>
    {% else %}
      <div class="header__image {{ page.header_class }}" style="background-color: {{ page.header_bgcolor }}; background-image: url({{ page.header_image }});">{{ site.title }}</div>
    {% endif %}
  {% elsif page.header_image %}
    <div class="header__image" style=" background-color: {{ page.header_bgcolor }}; background-image: url({{ page.header_image }});">{{ site.title }}</div>
  {% endif %}

  <div class="container">

    <nav class="header__nav">
      {% assign pages = site.pages | sort:"order" %}
      {% for my_page in pages %}
        {% if my_page.title and my_page.hidden == "false" %}
        <a class="header__nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
      <a class="header__nav-link" href="{{ site.baseurl }}/">Human</a>
    </nav>

  </div>

</header>
