<div class="sharing">
    <h3 class="share-me">Got a question?</h3>
    <ul class="social-media-container">

        <li>
            <!--Twitter Share-->
            <a href="https://twitter.com/share?
                text={{ page.title }}&
                url={{ site.url }}{{ site.baseurl }}{{ page.url }}&
                via={{ site.twitter_username }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=251,width=600');return false;" title="Share on Twitter"><span class="ivankon ivankon--twitter">{% include icons/ivankon-twitter.svg %}</span></a>
        </li>      
    </ul>
</div>
