// CONTAINER

.container {
    margin: 0 auto;
    padding: 15px;
    max-width: $max-site-width;

    @include min-width($above-tablet) {
        padding: 15px 30px;
    }
}


.flex-container {
    display: flex;
    flex-direction: column;

    @include min-width($above-tablet) {
        flex-direction: row;
    }
}
