// HEADER

.header {
    border-bottom: 1px solid $alt-border-color;
}

    .header__image {
        @include hide-text;
        display: flex;
        height: 60vh;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        justify-content: center;
        align-items: center;
    }

    .header__image--none {
        display: none;
    }

    .header__image--with-text {
        color: $color;
        font-size: 50px;
        line-height: 1.5;
    }

    .header__image--filter {
        @include filter(grayscale(100%));
    }

        .header__image-text-overlay {
            @include letterpress;
        }

        .header__nav {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap-reverse;
        }

                .header__nav-link {
                    margin: 5px 10px;
                    text-transform: capitalize;
                }
