// IVANKON (ICONS)

$size:          20px;

.ivankon {
    display: inline-block;
    margin-right: 10px;
    width: $size;
    height: $size;
    vertical-align: middle;
}

.ivankon--github {}

.ivankon--twitter {}

.ivankon--menu {}
