// POST-LIST

.post-list {
    list-style: none;
}

    .post-list__item {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid $border-color;
        justify-content: space-between;
        flex-direction: row-reverse;

        &:last-child {
            border-bottom: 0;
        }
    }

    .post-list__rss-subscribe {
        @include hide-text;
        display: flex;
        justify-content: flex-end;
    }
    
        .post-list__meta {}

        .post-list__link {}

    .post__footer {
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        align-items: center;

        p {
            margin-bottom: 0;
        }
    }
