// RANDOM PROPERTYS/FUNCTIONS/EXTENDS

// HIDDEN
// scss-lint:disable DuplicateProperty

%hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}

.hidden {
    @extend %hidden;
}

// OPPOSITE DIRECTION
@function opposite-direction($directions) {
    $opposite-directions: ();
    $direction-map: (
        'top': 'bottom',
        'right': 'left',
        'bottom': 'top',
        'left': 'right',
        'ltr': 'rtl',
        'rtl': 'ltr'
    );

    @each $direction in $directions {
        $opposite-direction: map-get($direction-map, $direction);
        @if $opposite-direction != null { 
            $opposite-directions: append($opposite-directions, #{$opposite-direction});
        }
        @else {
            @warn "No opposite direction can be found for `#{$direction}`.";
        }
    }

    @return $opposite-directions;
}
