// This file will include all general variables

// Breakpoints
$above-tablet:      768px;

$max-site-width:    1024px;

// Font

$font:              'Merriweather', serif;


// colors
$white:             #ffffff;
$black:             #000000;
$gray:              #c0c0c0;
$light-gray:        lighten($gray, 15%);
$red:               #cc0000;
$green:             #009900;
$blue:              #0000ff;
$orange:            #e65c00;
$pink:              #c83796;
$dark-pink:         darken($pink, 20%);
$yellow:            #ffff66;
$purple:            #6600cc;
$aliceblue:         aliceblue;

// standard color names
$color:             $black;
$opposite-color:    invert($color);
$highlight-color:   $pink;
$link-color:        $pink;
$link-hover-color:  $dark-pink;
$background-color:  $white;
$alt-bg-color:      $aliceblue;
$border-color:      $gray;
$alt-border-color:  $light-gray;

